In [1]:
import math
import numpy as np
import random as rd
import matplotlib.pyplot as plt
import pandas as pd

import zero

from zero.sgd_temporal import MangakiSGDTemporal

In [2]:
ratings_table = pd.read_csv('ratings.csv')

In [3]:
ratings_table

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
ratings_table["userId"] = np.unique(ratings_table["userId"], return_inverse=True)[1]
ratings_table["movieId"] = np.unique(ratings_table["movieId"], return_inverse=True)[1]

In [5]:
users = np.array(ratings_table[['userId']])[:,0]
items =np.array(ratings_table[['movieId']])[:,0]
ratings =np.array(ratings_table[['rating']])[:,0]
timestamps =np.array(ratings_table[['timestamp']])[:,0]

In [6]:
nb_users = len(ratings_table.groupby("userId").count())
nb_items = len(ratings_table.groupby("movieId").count())

In [7]:
sgd = MangakiSGDTemporal(nb_users, nb_items)

In [8]:
a = sgd.global_test(users, items, ratings, timestamps)

initialization done
training done
0.9403951826407836

In [9]:
a

2.12603710036745